
.para{
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}
.container{
    height: 80px;
    border: 2px solid;
    background-color: #ACC33F;
}
.container-para{
    text-align: center;
    font-size: 30px;
    border-bottom: 5px black;
    color: white;
    border-bottom: 3px solid white;
    

}
.image{
    display: block;
    margin: 0px auto;
    width: 600px;
}