.footer{
    height: 350px;
    background-color:black;
    display: flex;
    justify-content: space-evenly;
    
}
.items{
    width: 300px;
    
}
.logo-img{
    width: 200px;
    margin-top: 20px;
}
.links{
    color: white;

}
.para-footer{
    margin-top: 20px;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
}
.contact{
    color: white;
    font-size: 11px;
    margin: 5px;
    line-height: 20px;
    margin-right: 30px;
    
}
.map{
    width: 200px;
    height: 200px;
    display:block;
    margin: 0px auto;
    margin-top: 30px;
}